<h1>This is the damn homepage</h1>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'>
  	<script type='text/javascript'>
    	renderCurrentLocation("<%=@lat%>","<%=@long%>")
		</script>
  </div>
</div>